weights: ./work_dir/recognition/chalearn2013/test/epoch60_model.pt


# feeder
feeder: feeder.feeder.Feeder
test_feeder_args:
  data_path: ./data/chalearn2013/old/test_data.npy
  label_path: ./data/chalearn2013/old/test_label.pkl

# model
model: net.st_gcn.Model
model_args:
  in_channels: 9
  num_class: 20 #改60
  dropout: 0.5
  edge_importance_weighting: True
  graph_args:
    layout: 'chalearn2013'
    strategy: 'spatial'

# test
phase: test
device: 0
test_batch_size: 64 #改64