work_dir: ./work_dir/recognition/chalearn2013/test

# feeder
feeder: feeder.feeder.Feeder
train_feeder_args:
  random_choose: False
  data_path: ./data/chalearn2013/test_sig/train_data.npy
  label_path: ./data/chalearn2013/original_label/train_label.pkl

test_feeder_args:
  data_path:  ./data/chalearn2013/test_sig/test_data.npy
  label_path: ./data/chalearn2013/original_label/test_label.pkl


# model
model: net.st_gcn.Model
model_args:
  in_channels: 35 # 改 3
  num_class: 20 # 改 60
  dropout: 0.5  # 改 0.8
  edge_importance_weighting: True
  graph_args:
    layout: 'chalearn2013'
    strategy: 'spatial'

#optim
weight_decay: 0.0001
base_lr: 0.1
step: [20, 40]

# training
device: [0]
batch_size: 64 #改64
test_batch_size: 64
num_epoch: 60 #改80

